name: Update sadeghi.txt

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.4.0'

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgit2-dev

      - name: Cache renv packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/R/renv
          key: ${{ runner.os }}-renv-${{ hashFiles('renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Install dependencies and restore packages
        run: |
          R -e 'install.packages("renv")'
          R -e 'renv::restore()'
          
      - name: git config
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
      - name: Run update script
        run: Rscript script.r

      - name: Commit and push if changed
        run: |
          git add .
          git diff --staged --quiet || (git commit -m "Automated update from GitHub Actions" && git push)
